{
  "name": "{{ datasource_name }}",
  "type": "{{ datasource_type }}",
  "access": "{{ datasource_access }}",
  "url": "{{ datasource_url }}",
  "isDefault": {{ datasource_is_default | lower }},
  "basicAuth": false,
  "jsonData": {}
}
